.footer {
  padding: size(30px) 0;
  z-index: 10;

  @include vp-1023 {
    background-color: $color-default-white;
    padding: 20px 0;
  }

  @include vp-767 {
    padding: 15px 0 32px;
    background-color: transparent;
  }

  &__content-wrapper {
    padding: size(32px) size(32px) size(40px) size(32px);
    background-color: $color-default-white;
    border-radius: size(40px);

    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
    gap: size(29px);
    row-gap: size(33px);

    @include vp-1023 {
      justify-content: space-between;
      padding: 0;
      background-color: transparent;
    }
  }

  &__logo-wrapper {
    width: 100%;

    img {
      width: size(56px);
      height: size(40px);
    }

    @include vp-1023 {
      width: auto;
    }

    @include vp-767 {
      display: none;
    }
  }

  &__rights-wrapper {
    color: $color-fiord;
    width: size(507px);

    @include vp-1023 {
      width: auto;
    }

    @include vp-767 {
      display: none;
    }

    p {
      margin: 0;
      font-size: size(14px);
      line-height: size(18px);
      letter-spacing: 0;
    }
  }

  &__policy-wrapper {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: size(11px);

    @include vp-1023 {
      flex-direction: row;
      justify-content: flex-start;
      column-gap: 15px;
      row-gap: 10px;
    }
  }

  &__policy-link {
    font-weight: 500;
    font-size: size(17px);
    line-height: size(22px);
    text-decoration: underline;
    color: $color-fiord;
    letter-spacing: -0.01em;

    @include vp-767 {
      font-size: 14px;
      line-height: 110%;
      text-decoration: none;
    }

    &:hover,
    &:focus {
      color: $color-nobel;
    }

    &:active {
      color: $color-nero;
    }
  }

  &__policy-rules {
    @include vp-767 {
      order: -1;
    }
  }
}
