.header {
  padding: 63px 0 25px;

  @include vp-767 {
    padding: 20px 0;
  }

  a:hover {
    opacity: 0.8;
  }

  &__main-wrapper {
    display: flex;
    justify-content: flex-start;

    @include vp-767 {
      justify-content: center;
    }
  }

  &__logo {}

  &__logo-desktop {
    display: block;
    width: 162px;
    height: 28px;

    img {
      width: 162px;
      height: 28px;
      object-fit: contain;
    }

    @include vp-767 {
      display: none;
    }
  }

  &__logo-mobile {
    display: none;
    width: 116px;
    height: 19px;

    img {
      width: 116px;
      height: 19px;
      object-fit: contain;
    }

    @include vp-767 {
      display: block;
    }
  }
}
