.header {
  padding: size(61px) 0 size(27px);

  @include vp-1023 {
    padding: 20px 0;
  }

  a:hover {
    opacity: 0.8;
  }

  &__main-wrapper {
    display: flex;
    justify-content: flex-start;

    @include vp-1023 {
      justify-content: center;
    }
  }

  &__logo-desktop {
    display: block;
    width: size(162px);
    height: size(28px);

    img {
      width: size(162px);
      height: size(28px);
      object-fit: contain;
    }

    @include vp-1023 {
      display: none;
    }
  }

  &__logo-mobile {
    display: none;
    width: 116px;
    height: 19px;

    img {
      width: 116px;
      height: 19px;
      object-fit: contain;
    }

    @include vp-1023 {
      display: block;
    }
  }
}
