.hero {
  padding: 25px 0 100px;

  @include vp-1023 {
    padding: 20px 0 30px;
  }

  // фон
  &__background-wrapper {
    position: absolute;
    top: 0;
    right: 0;
    z-index: -1;

    @include vp-1023 {
      width: 100%;
      height: 480px;
    }
  }

  & [data-class="hero-winners-background"] {
    width: 1392px;
    overflow: hidden;
  }

  &__background-desktop {
    width: 1440px;
    height: 655px;

    @include vp-1439 {
      width: 1024px;
    }

    @include vp-1023 {
      display: none;
    }

    img {
      width: 1440px;
      height: 655px;
      object-fit: cover;

      @include vp-1439 {
        width: 1024px;
        object-fit: cover;
      }
    }
  }

  &__background-mobile {
    width: 100%;
    height: 480px;
    display: none;

    @include vp-1023 {
      display: block;
    }

    img {
      width: 100%;
      height: 480px;
      object-fit: cover;
    }
  }

  // основной контект блока
  &__main-wrapper {
    margin: 0;

    @include vp-1023 {
      padding: 0;
      display: flex;
      flex-direction: column;
      width: 100%;
    }
  }

  &__title-wrapper {
    margin-bottom: 40px;
    width: 480px;

    @include vp-1439 {
      width: 44%;
    }

    @include vp-1023 {
      margin-bottom: 0;
      padding: 0 6.6%;
      width: 100%;
      order: 1;
    }

    h2 {
      margin: 0;
      font-weight: 700;
      font-size: 64px;
      line-height: 70px;
      letter-spacing: -0.03em;
      color: $color-accent-main;

      @include vp-1023 {
        margin: 0;
        font-size: 48px;
        line-height: 100%;
        color: $color-default-white;
      }
    }
  }

  // ТЕКСТОВЫЙ БЛОК НА ГЛАВНОЙ СТРАНИЦЕ
  &__text-wrapper {
    width: 480px;

    @include vp-1439 {
      width: 55%;
    }

    @include vp-1023 {
      padding: 0 6.6%;
      width: 100%;
      order: 3;
    }

    p {
      margin: 0;
      margin-bottom: 40px;

      @include vp-767 {
        margin-top: -2px;
        margin-bottom: 22px;
        font-size: 18px;
        line-height: 135%;
        letter-spacing: -0.01em;
        order: 3;
      }
    }
  }

  // кнопка
  &__button {
    width: 327px;

    @include vp-767 {
      width: 100%;
    }
  }

  // БЛОК С ФОРМОЙ НА СТРАНИЦЕ ПОБЕДИТЕЛИ
  &__search-form-wrapper {
    width: 540px;

    @include vp-767 {
      width: 100%;
      order: 3;
    }
  }

  &__search-form {
    padding: 36px 32px 32px;
    background-color: $color-default-white;
    border-radius: 40px;

    @include vp-767 {
      border-radius: 0;
      padding: 0 6.6%;
    }

    p {
      margin: 0;
      font-size: 16px;
      line-height: 135%;
      letter-spacing: -0.02em;
      color: $color-nobel;
      text-align: center;

      @include vp-767 {
        text-align: left;
      }
    }
  }

  &__search-wrapper {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-bottom: 20px;

    @include vp-767 {
      gap: 15px;
      margin-bottom: 15px;
    }
  }

  &__search-label {
    font-size: 32px;
    line-height: 120%;
    letter-spacing: -0.02em;
    font-weight: 700;
    color: $color-nero;

    @include vp-767 {
      font-size: 24px;
      line-height: 120%;
      letter-spacing: -0.02em;
    }
  }

  &__search-input-wrapper {
    position: relative;
    width: 476px;

    @include vp-767 {
      width: 100%;
    }
  }

  &__search-input {
    width: 100%;
    padding: 25px 70px 25px 25px;
    background-color: $color-alice-blue;
    border-color: transparent;
    border-radius: 20px;
    font-size: 32px;
    line-height: 120%;
    letter-spacing: -0.02em;
    font-weight: 700;
    color: $color-dodger-blue;

    @include vp-767 {
      height: 60px;
      padding: 15px 60px 15px 25px;
    }
  }

  &__search-button {
    position: absolute;
    top: 25px;
    right: 25px;
    width: 30px;
    height: 30px;
    border-color: transparent;
    background-color: transparent;
    cursor: pointer;

    @include vp-767 {
      top: 14px;
      right: 25px;
      width: 20px;
      height: 20px;
    }
  }

  &__search-icon-wrapper {
    width: 30px;
    height: 30px;

    @include vp-767 {
      width: 20px;
      height: 20px;
    }

    svg {
      width: 30px;
      height: 30px;

      @include vp-767 {
        width: 20px;
        height: 20px;
      }
    }
  }

  // изображение
  &__image-wrapper {
    position: absolute;
    top: 0;
    right: 41px;

    width: 654px;
    height: 649px;

    @include vp-1439 {
      width: 550px;
      right: 3%;
    }

    @include vp-1023 {
      position: static;
      order: 2;
      width: 100%;
      height: 340px;
    }

    img {
      width: 654px;
      height: 649px;
      object-fit: contain;

      @include vp-1439 {
        width: 550px;
      }

      @include vp-1023 {
        width: 100%;
        height: 340px;
      }
    }
  }

  & [data-class="hero-winners-image"] {
    top: 12px;
    right: 19px;
  }
}
