.lottery-card {
  position: relative;
  padding: 10px;
  border-radius: 12px;
  width: 156px;
  height: 204px;
  color: $color-nero;

  &__text-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    column-gap: 7px;
    row-gap: 5px;
    width: 136px;
    margin: 0 auto;

    &>h2 {
      margin: 0;
      font-size: 16px;
      line-height: 126%;
      font-weight: 700;
      letter-spacing: -0.02em;
    }

    &>h3 {
      margin: 0;
      font-size: 12px;
      line-height: 18px;
      font-weight: 500;
      letter-spacing: -0.02em;
    }
  }

  &__logo-wrapper {
    min-width: 28px;
    max-width: 104px;
    height: 24px;

    img {
      min-width: 28px;
      max-width: 104px;
      height: 24px;
      object-fit: contain;
    }
  }

  &__info-icon-wrapper {
    width: 24px;
    height: 24px;

    svg {
      width: 24px;
      height: 24px;
    }
  }

  &__extra-info-wrapper {
    p {
      margin: 0;
      font-size: 16px;
      line-height: 126%;
      font-weight: 700;
    }
  }

  &__image-wrapper {
    position: absolute;
    bottom: 0;
    right: 0;
  }
}
