.lottery {
  margin-bottom: 50px;

  @include vp-767 {
    margin-bottom: -8px;
  }

  &__main-wrapper {
    @include vp-767 {
        padding:0;
      padding-top: 23px;
    }
  }

  &__main-wrapper>h2 {
    margin-bottom: 35px;
    font-size: 48px;
    line-height: 100%;
    font-weight: 700;
    letter-spacing: -0.03em;
    color: $color-nero;

    br {
      display: none;
    }

    @include vp-767 {
      margin: 0;
      margin-bottom: 20px;
      padding: 0 24px;
      font-size: 32px;
      line-height: 120%;
      font-weight: 700;
      letter-spacing: -0.02em;

      br {
        display: block;
      }
    }
  }

  &__period-cards-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 38px;

    @include vp-767 {
      gap: 0;
    }
  }

  &__period-wrapper {
    padding: 32px;
    border-radius: 40px;
    background-color: $color-default-white;
    min-height: 368px;

    @include vp-767 {
      width: 100vw;
      padding: 12px 24px 20px;
      border-radius: 0;
      border-top-right-radius: 20px;
      border-top-left-radius: 20px;
      min-height: auto;
    }
  }

  &__title-wrapper>h3 {
    margin: 0;
    margin-bottom: 24px;
    width: 158px;
    font-size: 32px;
    line-height: 120%;
    font-weight: 700;
    letter-spacing: -0.02em;

    @include vp-767 {
      margin-bottom: 15px;
      width: auto;
      font-size: 24px;
      line-height: 120%;
      font-weight: 700;
      letter-spacing: -0.02em;

      br {
        display: none;
      }
    }
  }

  &__swiper {
  }

  &__swiper-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 30px;

    @include vp-767 {
      justify-content: flex-start;
      flex-wrap: nowrap;
      gap: 0;
    }
  }
}
