.lottery-month {
  padding-bottom: 10px;

  &__take-part-wrapper {
    display: flex;
    justify-content: center;
  }

  [data-class="take-part-lottery-month"] > .take-part__form >  .custom-checkbox {
    justify-content: center;

    @include vp-767 {
      justify-content: flex-start;
    }
  }

  & .custom-checkbox__label {
    margin-left: 0;
  }
}
