.new-custom-select {
  position: relative;
  display: inline-block;

  @include vp-767 {
    width: 100%;
  }

  &__input {
    width: size(419px);
    padding: size(28px) size(49px) size(29px) size(32px);
    background-color: $color-cornflower-blue;
    border-color: transparent;
    border-radius: size(20px);
    font-size: size(24px);
    line-height: 120%;
    letter-spacing: -0.01em;
    font-weight: 700;
    color: $color-default-white;
    cursor: auto;

    @include vp-767 {
      width: 100%;
      padding: 13px 37px 13px 17px;
      font-size: 16px;
      line-height: 126%;
      border-radius: 12px;
    }
  }

  &.is-opened .new-custom-select__icon-wrapper {
    transform: rotate(180deg);
    top: size(58px);
  }

  &__icon-wrapper {
    position: absolute;
    top: size(30px);
    right: size(30px);
    width: size(10px);
    height: size(10px);

    @include vp-767 {
      top: 9px;
      right: 15px;
    }

    svg {
      width: size(10px);
      height: size(10px);
    }
  }

  &__select {
    display: none;
    position: absolute;
    top: size(107px);
    left: size(-9px);
    width: size(433px);
    padding: size(30px) size(10px);
    background-color: $color-alice-blue;
    border-radius: size(20px);
    z-index: 20;

    @include vp-767 {
      top: 65px;
      left: 0;
      width: 100%;
      padding: 30px 30px 10px 30px;
    }
  }

  &__select.is-opened {
    display: block;
  }

  &__option {
    padding: size(10px) size(20px);
    font-size: size(24px);
    line-height: 120%;
    letter-spacing: -0.02em;
    font-weight: 700;
    color: $color-accent-main;

    @include vp-767 {
      font-size: 16px;
      line-height: 126%;
    }

    &:hover,
    &:focus,
    &:active {
      background-color: $color-accent-main;
      color: $color-default-white;
      border-radius: size(20px);
    }
  }
}
