.participate {
  padding: 97px 11.5% 101px;

  @include vp-1023 {
    padding: 50px 10%;
  }

  @include vp-767 {
    padding: 0 6.6%;
  }

  &__main-wrapper {
    position: relative;
    padding: 81px 40px 91px;
    border-radius: 40px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    background-color: $color-default-white;
    min-height: 400px;

    @include vp-1439 {
      grid-template-columns: auto 40%;
    }

    @include vp-1023 {
      display: block;
      padding: 0;
      background-color: transparent;
      min-height: auto;
    }
  }

  &__image-wrapper {
    position: absolute;
    top: -78px;
    left: -50px;
    width: 635px;
    height: 600px;

    @include vp-1439 {
      top: 0;
      left: -5%;
      width: 535px;
      height: 500px;
      margin: 0 auto;
    }

    @include vp-1023 {
      position: static;
    }

    @include vp-767 {
      display: none;
    }

    img {
      width: 635px;
      height: 600px;
      object-fit: cover;

      @include vp-1439 {
        width: 535px;
        height: 500px;
      }
    }
  }

  &__text-wrapper {
    grid-column: 2 / 3;
    width: 500px;
    margin-left: 14px;

    @include vp-1439 {
      margin-left: 0;
      width: 100%;
    }

    h2 {
      margin: 0;
      margin-bottom: 20px;
      font-weight: 700;
      font-size: 48px;
      line-height: 100%;
      letter-spacing: -0.02em;

      @include vp-1439 {
        font-size: 40px;
      }

      @include vp-767 {
        font-size: 32px;
        line-height: 120%;
      }
    }

    p {
      margin: 0;
      font-size: 25px;
      line-height: 32px;
      letter-spacing: -0.01em;

      @include vp-1439 {
        font-size: 18px;
      }

      @include vp-767 {
        font-size: 16px;
        line-height: 135%;
        letter-spacing: 0;
      }
    }
  }
}
