.winners-list {
  padding: 15px 0 22px;

  &__main-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 50px;

    @include vp-767 {
      gap: 30px;
    }

    h2 {
      margin: 0;
      margin-bottom: -17px;
      font-size: 48px;
      line-height: 100%;
      font-weight: 700;
      letter-spacing: -0.02em;
      color: $color-nero;

      @include vp-767 {
        font-size: 32px;
        line-height: 120%;
      }
    }
  }

  // кнопки
  &__buttons-wrapper {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 30px;
    margin: 0 auto;

    @include vp-767 {
      gap: 15px;
    }
  }

  &__button {
    width: 48.5%; // 540px
    padding: 32px;
    font-size: 32px;
    line-height: 120%;
    background-color: $color-default-white;

    @include vp-767 {
      width: 100%;
      padding: 15px;
      background-color: #E3F2FF;
      font-size: 18px;
      line-height: 110%;
    }
  }

  // форма
  &__form {
    margin: 0 auto;

    @include vp-767 {
      width: 100%;
    }
  }

  // список победителей
  &__list-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 32px;
    background-color: $color-default-white;
    border-radius: 40px;
    // max-height: 787px;
    // overflow-y: scroll;

    @include vp-767 {
      border-radius: 0;
      height: 742px;
      padding: 0;
      gap: 30px;
    }
  }

  &__week {
    margin: 0;
    margin-bottom: 30px;
    font-size: 32px;
    line-height: 120%;
    font-weight: 700;
    color: $color-nobel;

    @include vp-767 {
      margin: 0;
      font-size: 24px;
      line-height: 120%;
    }
  }

  &__dates {
    margin: 0;
    margin-bottom: 30px;
    font-size: 32px;
    line-height: 120%;
    font-weight: 700;
    color: $color-nobel;

    @include vp-767 {
      margin: 0;
      font-size: 18px;
      line-height: 110%;
    }
  }

  &__no-winners-msg {
    display: none;
    width: 100%;
    padding: 0;
    font-size: 32px;
    line-height: 120%;
    font-weight: 700;
    text-align: center;

    @include vp-767 {
      font-size: 24px;
    }
  }

  &__table {
    width: 100%;
    border-collapse: collapse;
    border-spacing: 30px 0;
    display: block;
    max-height: 654px;
    overflow-y: auto;
  }


  &__table .winners-list__tbody::before {
    content: "";
    display: block;
    height: 10px;
    /* высота отступа сверху */
  }

  &__thead {
    font-size: 24px;
    line-height: 120%;
    font-weight: 700;
    border-bottom: 1px solid $color-nobel;
  }

  &__title-wrapper {}

  &__title {
    padding: 0 30px 15px 0;
    font-size: 24px;
    line-height: 120%;
    font-weight: 700;
    text-align: left;

    @include vp-767 {
      font-size: 18px;
      line-height: 110%;
    }
  }

  &__title--name {
    width: 180px;
  }

  &__title--phone {
    width: 210px;
  }

  &__title--prize {}


  &__tbody {
    font-size: 24px;
    line-height: 32px;
    letter-spacing: -0.01em;
    font-weight: 500;

    @include vp-767 {
      font-size: 16px;
      line-height: 135%;
      letter-spacing: -0.02em;
    }
  }

  &__data-wrapper:first-child {}

  &__data {
    padding-bottom: 14px;
    padding-right: 30px;
  }
}
